
/*
#00395d celeste oscuro 
#006596 intermedio 
#009dd5 celeste mas clarito
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{ margin: 0; padding: 0; }
body{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    background-image: url('../img/imagenFondoOpcion2.png');
    
    /* Hace que la imagen cubra toda la pantalla*/
    background-size: cover; 
    
    /* Evita que se repita */
    background-repeat: no-repeat;
    /*Para que se quede fijo con el scroll*/
    background-attachment: fixed;
}
header{
    display: flex;
    background-color: #00395d;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0px
}
header img{
    height: 7rem;
}
.nav-link{
    color: white;
    text-decoration: none;
}
header a:hover{
    color: black;
}

header{
    justify-content: space-between;
}

header ul li{
    font-size: 2rem;
    display: inline-block;
    padding: 1.5rem;
}
.banderaARG{
    width: 2rem;
    vertical-align: middle;
}
.banderaESP{
    width: 2rem;
    vertical-align: middle;
}
.jugador{

   width: 100%;
    height: auto; 
    border-radius: 10px;
    background-color: #006596;

    object-fit: cover;
    object-position: top;
}

main p{
    color: white;
    font-size: 1.5rem;
    background-color: #00395d;
    margin-bottom: 0;
    
}
#puntos{
    color: black;
    font-size: 1.5rem;
    background-color: rgb(190, 209, 255);
}
.contenedor-index{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-template-rows: repeat(6, auto); 
    gap: 3px 30px;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.contenedor-index > div:last-child { /* agarro el ultimo para que no quede a la izquierda(fue realizado con ayuda de la IA)*/
    grid-column: 2; 
    justify-self: center; /* Se asegura que la tarjeta esté centrada en su celda */
}

/*no estoy conforme con que el ultimo quede colgado, pero para la proxima entrega voy a aplicar un carrusel*/




main ul li{

    display: inline-block;
    width: 24rem;
    margin: 1rem;
    background-color: #006596;
    color: white;
    font-size: 3rem;
}
footer{
    background-color: #00395d
}
footer img{
    width: 2rem;
    margin: 1rem;
}
footer p{
    color: white;
    font-size: 4rem;
    margin: 1rem;
}


/*html de los torneos */
.contenerdor{
    
    /*border: 2px solid black;*/
    margin-left: 3rem;
    margin-right: 3rem;
}

.container-fluid{
    background-color:rgba(112, 155, 255, 0.285);
    padding: 2rem;
    align-items:center;
    justify-items:center;
    
}
.row{
    margin: 4rem;
}
.LOGO{
    display: inline-block;
    width: 15rem;
    
}
.TORNEOS{
    display: inline;
    background-color:rgba(255, 255, 255, 0);
    
}
.h2{
    font-size: 2rem;
}

/*rgb(210, 223, 255)*/






/*celulares*/

@media (max-width:650px)
{
    main h1{
        color: white;
    }
    main h2{
        color: white;
    }
     
    .contenedor-index{
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px 0px;
        align-items: center;
        width: 80%;
        max-width: 650px;
        margin: 0 auto;
    }
    
    #RedesMedia{
        display: none;
    }
    #puntos{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }    
    .contenedor-redes{
        display: grid;
        grid-template-columns: repeat(4,auto);
        justify-content: space-evenly;
    }
}













