


@use "./partials/generales";
@use "./partials/header";
@use "./partials/main";
@use "./partials/torneos.scss";
@use "./partials/animaciones";
@use "./partials/footer";



@use "./partials/mediaQueries";
  