@use "./variables" as *; 

footer{
    
    background-color: $celesteOscuro;

    img{
        /*width: 2rem;*/
        @include ancho(2rem);
        margin: 1rem;
    }
    p{
        @include color(white);
        font-size: 4rem;
        margin: 1rem;
    }
}




