@use "./variables" as *; 

footer{
    background-color: $celesteOscuro;
    img{
        width: 2rem;
        margin: 1rem;
    }
    p{
        color: white;
        font-size: 4rem;
        margin: 1rem;
    }
}