@use "./variables" as* ;

*{ margin: 0; padding: 0; }

body{
    text-align: center;
    font-family: $fuente;
    // background-image: url("../img/imagenFondoOpcion2.png");
    // /* Hace que la imagen cubra toda la pantalla*/
    // background-size: cover;
    // /* Evita que se repita */
    // background-repeat: no-repeat;
    // /*Para que se quede fijo con el scroll*/
    // background-attachment: fixed;



    background-image: 
      /*--> el efecto granulado*/  url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.07'/%3E%3C/svg%3E"),
        // (opcion 1 de fondo) linear-gradient(to right bottom, #0f4589, #305999, #4a6eaa, #6284ba, #7a9aca, #7a9aca, #7a9aca, #7a9aca, #6284ba, #4a6eaa, #305999, #0f4589);    
        // (opcion 2 de fondo) linear-gradient(to right bottom, #053066, #28477c, #426093, #5c79aa, #7694c1, #7694c1, #7694c1, #7694c1, #5c79aa, #426093, #28477c, #053066);
        // linear-gradient(to right bottom, #053066, #25467c, #3d5d93, #5475aa, #6c8ec1, #6c8ec1, #6c8ec1, #6c8ec1, #5475aa, #3d5d93, #25467c, #053066);
        // linear-gradient(140deg,rgba(0, 62, 87, 1) 19%, rgba(14, 114, 153, 1) 33%, rgba(126, 195, 222, 1) 49%, rgba(14, 114, 153, 1) 66%, rgba(0, 62, 87, 1) 84%);
        linear-gradient(140deg,rgba(0, 46, 66, 1) 19%, rgba(70, 101, 125, 1) 33%, rgba(204, 216, 232, 1) 50%, rgba(70, 101, 125, 1) 66%, rgba(0, 46, 66, 1) 84%);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover; 
    background-attachment: fixed;
    

   

} 