@use "./variables" as *; 

.Inicio{
    background-color: $celesteBienClarito;
    h1{
        background-color: $celesteInermedio;
        padding: 3rem;
        color:white;
    }
}
.presentacion{    
    
    margin-bottom: 20px;
    .imagenInicio{
        width: 80%;
    }
    h2{
        color: black;
        font-weight: 580;
        font-size: 3rem;
    }
    p{
        font-family: $fuente2;
        font-weight: 650;
        font-size: 1.5rem;
        background-color: transparent;
        color: black;
    }
   
    
}
.historia{
    gap: 5rem;
    .imagenHistoria{
        width: 80%;
    }
    .titulo{
        font-size: 3rem;
        color: #29aae1;
    }
    
    p,li{
        background-color: transparent;
        color: black;
    }
    h2{
        color: #29aae1;
        background-color: $celesteOscuro;
        padding: 4.5rem;
        margin-bottom: 10px;

    }
}
.inicioNumeros{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 0.5rem;
    background-color: $celesteOscuro;
    padding: 2rem;
    p{
        font-size: 2rem;
    }
}