@media (max-width:650px)
{
    main h1{
        color: white;
    }
    main h2{
        color: white;
    }
     
    .contenedor-index{
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px 0px;
        align-items: center;
        width: 80%;
        max-width: 650px;
        margin: 0 auto;
    }
    
    #RedesMedia{
        display: none;
    }
    #puntos{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }    
    .contenedor-redes{
        display: grid;
        grid-template-columns: repeat(4,auto);
        justify-content: space-evenly;
    }

    .contenedor-index-femenino {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .contenedor-index-femenino > div:nth-child(even) {
        margin-top: 0;
    }
}
