@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$fuente:"Bebas Neue", sans-serif;
$celesteOscuro: #00395d ;
$celesteInermedio: #006596 ;
$celesteClarito: #009dd5;

$celesteBienClarito:rgba(112, 155, 255, 0.285)